@import 'src/variables';
@import 'src/mixins';

.header-component {
  display: flex;
  justify-content: center;

  .header-container {
    display: flex;
    justify-content: flex-start;
    background-color: $color-normal;
    min-width: 100%;
    height: 4rem;
    position: relative;

    .header-title {
      color: #fff;
      margin: 0;
      height: 100%;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      &--rank {
        flex: 0 1 auto;
        left: 50%;
        transform: translateX(-50%);
        position: absolute;
        @include for-phone-only {
          word-break: break-word;
          font-size: 20px;
          width: 100%;
        }
      }
      &--logo {
        margin-left: 5rem;
        @include for-phone-only {
          display: none;
        }
      }
    }
  }

  .wrapped-text {
    &:before,
    &:after {
      content: '';
      color: $color-special;
    }

    &:before {
      content: '<';
    }

    &:after {
      content: '>';
    }
  }
}
