@import 'src/variables';

.progress-list-component {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  flex-direction: column;
  position: relative;
  list-style: none;

  &:not(.done):after {
    content: '';
    position: absolute;
    z-index: 1;
    bottom: 0;
    left: 0;
    pointer-events: none;
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1) 90%
    );
    width: 100%;
    height: 25px;
  }

  .progress-list-item {
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    margin-bottom: 1rem;

    &--progress {
      color: $color-attention;
    }

    &--finished {
      text-decoration: line-through;
    }

    .progress-role {
      max-width: 70%;
      word-wrap: break-word;
    }
  }
}
