@import 'src/variables';

.overlay-container {
  position: absolute;
  z-index: 5;
  width: 100%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  .overlay-item {
    position: absolute;
    font-size: 25px;
    font-weight: bold;
    animation: animation 2s;
    opacity: 0;
    color: $color-attention;
  }
}

@keyframes animation {
  from {
    transform: scale(1) translateY(0);
    opacity: 1;
  }
  to {
    transform: scale(1.5) translateY(-20px);
    opacity: 0;
  }
}
