@import 'mixins';
body {
  display: flex;
  flex-direction: column;
}

.app-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  font-size: 17px;
  @include for-phone-only {
    font-size: 15px;
  }
}
.main-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  justify-content: flex-end;
  padding-top: 2rem;
  min-height: calc(100vh - 8rem);
  @include for-phone-only {
    grid-template-columns: 1fr;
    justify-content: center;
  }
}

.progress-list-container {
  width: 100%;
  height: auto;
  margin-right: 5rem;
  margin-top: 5rem;
  @include for-phone-only {
    margin: 0;
  }
}

.centered-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.event-box-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 2.5rem;
  @include for-phone-only {
    margin: 0;
  }
}
